/* Hubspot COS No Gutter Grid --- removes HubSpot's default grid gutters  */
.no-gutter .row-fluid .span2 {
    margin-left: 0;
    width: 50%;
}
.no-gutter .row-fluid .span3 {
    margin-left: 0;
    width: 25%;
}
.no-gutter .row-fluid .span4 {
    margin-left: 0;
    width: 33.333333%;
}
.no-gutter .row-fluid .span5 {
    margin-left: 0;
    width: 41.666666%;
}
.no-gutter .row-fluid .span6 {
    margin-left: 0;
    width: 50%;
}
.no-gutter .row-fluid .span7 {
    margin-left: 0;
    width: 58.333333%;
}
.no-gutter .row-fluid .span8 {
    margin-left: 0;
    width: 66.666666%;
}
.no-gutter .row-fluid .span9 {
    margin-left: 0;
    width: 75%;
}
.no-gutter .row-fluid .span10 {
    margin-left: 0;
    width: 83.333333%;
}
.no-gutter .row-fluid .span12 {
    margin-left: 0;
    width: 91.666666%;
}

@media (max-width: 767px) {
	.no-gutter .row-fluid [class*="span"] {
		width: auto;
	}
}
